@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Montserrat+Alternates:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #23334a;
    background-color: #e4edfb;
    padding-top: 107px;
}

.main{
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #222222;
}

p.lead{
    line-height: 2.4rem;
}

.text-gold{
    color: #777777;
}

.text-light{
    color: #e4edfb;
}

.website__header{
    padding: 2rem 0;
    position: absolute;
    z-index: 999;
    width: 100%;
}

.website__header.fixed{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 1rem 0;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.website__header__lang{
    margin-bottom: 1rem;
}

.website__header__lang a{
    color: #e4edfb;
    font-weight: 400;
    text-decoration: none ;
    font-size: .9rem;
}

.website__header.fixed .website__header__lang a{
    color: #23334a;
}

.website__social__icons{
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}

.website__social__icons a{
    color: #e4edfb;
    text-decoration: none ;
}

.website__header.fixed .website__social__icons a{
    color: #23334a;
}

.website__header__logo{
    display: block;
}

.website__header__logo img{
    width: 190px;
    height: auto;
}

.website__header.fixed .website__header__logo img{
    width: 110px;
}

.website__header .website__header__logo__slogan{
    font-size: 1rem;
    color: #97a3b5;
    font-weight: 400;
    margin-top: 1rem;
    text-align: center;
    margin: 1rem 0 0 0;
}

.website__header.fixed .website__header__logo__slogan{
    font-size: .8rem;
}

.website__nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.website__nav a{
    color: #e4edfb;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none ;
}

.website__nav a:hover{
    color: #e4edfb;
    text-decoration: underline;
}

.website__header.fixed .website__nav a{
    color: #23334a;
}

.website__cover{
    position: relative;
    height: 70vh;
    width: 100%;
    min-height: 600px;
}

.website__cover__desc{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.website__cover__desc h1{
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #fff !important;
}

.website__cover .swatches {
	position: absolute;
	top: -77px;
	left: -90px;
	z-index: 1;
	background-image: url(../img/swatches.svg);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: cover;
	width: 700px;
	height: 700px;
	opacity: .7;
}

.website__cover__slider__container{
    position: absolute;
    height: 70vh;
    width: 100%;
    z-index: 1;
    min-height: 650px;
}

.website__cover__slider{
    height: 70vh;
    min-height: 600px;
    width: 100%;
    position: relative;
    background: #999;
}

.website__cover__slider__item{
    height: 70vh;
    min-height: 600px;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.website__cover__slider__item:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #23334a;
    opacity: 0.6;
}

.website__cover__content {
	height: 78vh;
	position: relative;
	z-index: 2;
	padding-top: 12rem;
	padding-bottom: 3.5rem;
}

.website__cover__content__desc{
    background-color: #e4edfb;
    padding: 2.5rem;
    width: 50% ;
}

.website__cover__content__desc .title{
    font-size: 3.5rem;
}

.website__cover__content__info h2{
    color: #e4edfb;
}

.owl__services{
    position: relative;
}

.owl-services-control{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 2rem;
    color: #23334a;
}

.owl-services-control.owl-services-prev{
    left: -50px;
}

.owl-services-control.owl-services-next{
    right: -50px;
}

.owl__services__container{
    position: relative;
}

.website__services__carousel{
    padding: 4rem 0;
}

.service__box{
    height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 2rem;
}

.service__box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #23334a;
    opacity: 0.60;
    z-index: 1;
}

.service__box__content{
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.service__box__title{
    color: #e4edfb;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.service__box__link{
    margin-top: auto;
    position: relative;
}

.service__box__link a{
    color: #e4edfb;
    font-size: .85rem;
    font-weight: 700;
    text-decoration: none ;
}

.service__box__link a:hover{
    color: #777777;
    text-decoration: underline;
}

.service__box__link:after{
    content: '';
    position: absolute;
    top: 50%;
    right: -30px;
    width: 40%;
    height: 2px;
    background-color: #777777;
    transform: translateY(-50%);
}

.website__services__icons{
    background-color: #23334a;
    background-image: url('../img/pexels-victor-roque-446974.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 7rem 0;
    position: relative;
}

.website__services__icons:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #23334a;
    opacity: 0.8;
    z-index: 1;
}

.website__services__icons .container{
    position: relative;
    z-index: 2;
}

.website__services__icons i{
    color: #F9F0E4;
    font-size: 2rem;
}

.website__vehicles__carousel{
    padding: 4rem 0;
}

.vehicle__box{
    position: relative;
    height: 240px;
}

.vehicle__box__square {
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 80%;
	background-color: #ffffff;
	opacity: 0.60;
	z-index: 1;
	box-shadow: 0 2px 8px rgba(0,0,0,.15);
	border-radius: 3px;
}

.vehicle__box__desc{
    padding: 1.35rem;
    position: relative;
    z-index: 2;
}

.vehicle__box__desc .title{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    color: #23334a;
    padding-right: 60px;
}

.vehicle__box__desc .subtitle{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: #777777;
}

.vehicle__box__photo{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.vehicle__box__photo img{
    width: 65% !important;
}

.owl__vehicles{
    position: relative;
}

.owl-vehicles-control{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 2rem;
    color: #23334a;
}

.owl-vehicles-control.owl-vehicles-prev{
    left: -50px;
}

.owl-vehicles-control.owl-vehicles-next{
    right: -50px;
}

.website__slogan{
    background-color: #23334a;
    background-image: url('../img/sean-pollock-PhYq704ffdA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 4rem 0;
    position: relative;
    height: 600px;
}

.website__slogan:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #23334a;
    opacity: 0.60;
    z-index: 1;
}

.website__slogan .container{
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.website__slogan .title{
    color: #e4edfb;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
}

.website__slogan .title:after{
    content: '';
    display: block;
    width: 70px;
    height: 4px;
    background-color: #777777;
    margin-top: 1.8rem;
}

.website__clients{
    padding: 4rem 0;
    background-color: #23334a;
}

.website__clients h1{
    color: #777777;
    font-size: 1.5rem;
}

.website__clients img{
    max-width: 120px;
    max-height: 90px;
    -webkit-mix-blend-mode: screen;
    mix-blend-mode: screen;
    -webkit-filter: invert(1);
    filter: invert(1);

}

.website__testimonials{
    padding: 4rem 0;
    background-color: #e4edfb;
    position: relative;
}

.website__testimonials__view__all__link{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 4;
    height: 80%;
    padding: 3rem 0;
    background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
}

.website__testimonials__view__all__link a{
    display: block;
    text-align: center;
    color: #23334a;
    font-size: 1.15rem;
    font-weight: 700;
    line-height: 1.5rem;
    padding: 1rem 0;
}

.testimonial__box{
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 1.5rem;
    background-color: #fff;
    margin-bottom: 1.5rem;
    position: relative;
}

.testimonial__box h1{
    font-size: .9rem;
    font-weight: 700;
    color: #23334a;
}

.testimonial__box h4{
    font-size: .8rem;
    font-weight: 700;
    color: #777777;
}

.testimonial__box p{
    font-weight: 400;
    color: #23334a;
    margin-top: 1rem;
    margin-bottom: 0;
    line-height: 1.85rem;
}

.testimonial__box i{
    color: #a9a9a9;
    font-size: 1.5rem;
    margin-right: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.website__footer{
    padding: 4rem 0;
    background-color: #23334a;
}

.website__footer .logo img{
    width: 190px;
    height: auto;
}

.footer__nav{
    display: flex;
    flex-direction: column;
}

.footer__nav a{
    color: #e4edfb;
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

.footer__nav a:hover{
    color: #777777;
}

.footer__social__icons a{
    color: #e4edfb;
    font-size: .9rem;
    margin-left: 1rem;
}

.footer__social__icons a:hover{
    color: #777777;
}

.whatsapp_chat{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 6.7rem 2.1rem 0;
    z-index: 999;
}

.whatsapp_bubble{
    padding: 0.55rem .7rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 3px;
}

.whatsapp_chat a{
    display: flex;
    align-items: center;
    text-transform: none;
    text-decoration: none;
}

.whatsapp_chat img{
    width: 64px;
    height: auto;
    margin-left: 1rem;
}

.whatsapp_chat p{
    font-size: .7rem;
    font-weight: 700;
    line-height: 1rem;
    color: #23334a;
}

.whatsapp_chat h6{
    font-size: .7rem;
    font-weight: 400;
    line-height: 1rem;
    display: block;
    margin-bottom: .5rem !important;
    color: #23334a;
}

.contact__icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: calc(50% - 100px);
    right: 37px;
    z-index: 999;
}

.contact__icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 3px;
    background-color: #555;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
    color: #eee;
    text-decoration: none;
    font-size: 1.5rem;
}

.website__stats{
    padding: 4rem 0;
    background-color: #222222;
}

.website__stats h1{
    color: #e4edfb;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.website__stats h3{
    color: #e4edfb;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-top: 1rem;
}

.translate_icon a{
    font-size: 1.35rem;
    color: #222222;
    position: relative;
    top: 2px;
    margin-right: 20px;
}

.website__header.fixed .translate_icon a{
    top: 20px;
}

.jumbotron{
    background-color: #222222;
    padding: 7rem 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jumbotron:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #23334a;
    opacity: 0.5;
}

.jumbotron .container{
    z-index: 1;
    position: relative;
}

.jumbotron h1{
    color: #e4edfb;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
}

.jumbotron p.lead{
    color: #e4edfb;
    margin-top: 1rem;
}

.flags{
    height: 100px;
    width: auto;
    margin-bottom: 1rem;
}